* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}


header {
    background-image: url('../img/hero.jpg');
    height: 750px;
    margin: 0;
    padding: 0;
    padding: 50px;
    
    overflow: auto;
}

.head_img{
    float: left;
    margin-right: 50px;
}
.nav {
    display: inline-block;
    /* border: solid; */
}

.login{
    display: inline;
    /* border: solid; */
    /* margin-left: 580px; */
    float: right;
}

.login a {

    color: white;
    text-decoration: none;
}

.nav a {
    color: white;
    text-decoration: none;
}
header li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
}

.log_si
{
    border-radius: 30px;
    border: 2px solid white;
    padding:10px 20px;
}






.p1 {
    text-align: center;
    margin: 0;
    padding-top: 250px;
    font-size: 75px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: white;
}

.p2 {
    color: white;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.dl {
    padding-top: 100px;
    text-align: center;
}

.download {
    font-family: "Roboto", sans-serif;
    padding: 10px 20px;
    font-size: larger;
    color: white;
    text-decoration: none;
    border: solid;
    border-radius: 30px;
    border-color: rgb(233, 67, 122);
    background-color: rgb(233, 67, 122);
}

.learn {
    margin-left: 50px;
    color: rgb(233, 67, 122);
    border: solid;
    border-radius: 30px;
    /* border-color: rgb(233, 67, 122); */
    padding: 10px 20px;
    font-size: larger;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.box {
    width: 30%;
    float: left;
    /* border: 1px solid red; */
    padding: 15px 60px;
    margin: 20px;
}

.sec1 {
    padding: 130px 40px;
    /* border: 2px solid red; */
    overflow: auto;
}
.box i{
    color: rgb(247, 136, 154);
    font-size: 50px;
    float: left;
    padding-bottom: 280px; 
    padding-right: 50px;
    /* border: 2px solid red;    */
    
}
.text{
    
    font-size: 20px;
}
.heading{
    font-weight: bolder;
    font-size: 25px;
}








.sec2{
    background: rgb(239, 242, 248);
    overflow: auto;
}
.sec2 img{
    float: left;
    /* border:2px solid rgb(255, 95, 95); */
    padding-top:100px ;

}
.sec2o1{
  ÷border:2px solid rgb(255, 95, 95);
  margin: auto;
  padding-top:100px ;
  padding-left: 1200px;
  padding-right: 120px;
  width: 100%;

}
.sec2 h3{
    font-size: 35px;
}

hr{
    color: grey;
    font-size: 20px;
}
.pic i{
    color: rgb(247, 136, 154);
    font-size: 50px;
    float: left;
    padding-bottom: 50px;
    padding-right: 20px;
    
}



.sec3 p{
    /* border: 2px solid black; */
    width: 40%;
    margin: 40px 10px;
}
.para3{
    display: inline-block;
    width: 50%;
    margin-left: 20px;
}
.sec3 h3{
    margin: 40px 10px;
}
.img3{
    float: right;
    margin-right: -200px;
    margin-top: 50px;
}
.sec3{
    overflow: auto;
}